body {
    background-color: #f8f9fa;
}

.card {
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 1rem;
}

.card-title {
    color: #076630;
    font-weight: bold;
}

.card-text {
    color: #383e3b;
    font-size: 1.25rem;
    font-weight: 500;
}
